<div class="container my-5">
    <div class="jumbotron text-center">
        <h1 class="display-4">Welcome to EduManage!</h1>
        <p class="lead">Effortlessly manage students, courses, and enrollments with our comprehensive solution.</p>
        <hr class="my-4">
        <p>Get started by exploring the options below.</p>
        <a class="btn btn-primary btn-lg mx-2" href="/Course" role="button">View Courses</a>
        <a class="btn btn-secondary btn-lg mx-2" href="/Student" role="button">Manage Students</a>
    </div>
</div>